.navbar-logo {
    padding-top : 15px;
}

.navbar-logo img {
    height : 40px;
}

.banner-top {
    position   : fixed;
    top        : 0;
    left       : 0;
    height     : 50px;
    width      : 100%;
    z-index    : 1030;
    background : #006EB7;
}

.banner-top div {
    float  : left;
    height : 50px;
}

.banner-esquina {
    width      : 47px;
    background : url("../../images/barras/esquina.png") no-repeat;
}

.banner-esquina.der {
    -moz-transform    : scaleX(-1);
    -o-transform      : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform         : scaleX(-1);
    filter            : FlipH;
    -ms-filter        : "FlipH";
    position          : absolute;
    right             : 0;
}

.banner-title {
    font-family : "PT Sans Narrow", sans-serif;
    font-size   : 20pt;
    font-weight : bold;
    color       : #fff;
    margin-left : 70px;
}

.banner-search {
    float        : right !important;
    margin-right : 60px;
    width        : 200px;
}

.banner-search input {
    margin-top : 8px;
}

.banner-top-lg {
    height     : 75px;
    background : #006EB7;
}

.banner-top-lg div {
    height : 75px;
}

.banner-top-lg .banner-esquina {
    width      : 79px;
    background : url("../../images/barras/esquina-lg.png") no-repeat;
}

.banner-top-lg .banner-title {
    margin-top : 15px;
}
