.btn-azul {
    color            : #ffffff;
    background-color : #7985A1;
    border-color     : #3859A3;
}

.btn-azul:hover,
.btn-azul:focus,
.btn-azul:active,
.btn-azul.active,
.open .dropdown-toggle.btn-azul {
    color            : #ffffff;
    background-color : #3859A3;
    border-color     : #3859A3;
}

.btn-azul:active,
.btn-azul.active,
.open .dropdown-toggle.btn-azul {
    background-image : none;
}

.btn-azul.disabled,
.btn-azul[disabled],
fieldset[disabled] .btn-azul,
.btn-azul.disabled:hover,
.btn-azul[disabled]:hover,
fieldset[disabled] .btn-azul:hover,
.btn-azul.disabled:focus,
.btn-azul[disabled]:focus,
fieldset[disabled] .btn-azul:focus,
.btn-azul.disabled:active,
.btn-azul[disabled]:active,
fieldset[disabled] .btn-azul:active,
.btn-azul.disabled.active,
.btn-azul[disabled].active,
fieldset[disabled] .btn-azul.active {
    background-color : #7985A1;
    border-color     : #3859A3;
}

.btn-azul .badge {
    color            : #7985A1;
    background-color : #ffffff;
}

.btn-amarillo {
    color            : #ffffff;
    background-color : #CCA978;
    border-color     : #FFA324;
}

.btn-amarillo:hover,
.btn-amarillo:focus,
.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
    color            : #ffffff;
    background-color : #FFA324;
    border-color     : #FFA324;
}

.btn-amarillo:active,
.btn-amarillo.active,
.open .dropdown-toggle.btn-amarillo {
    background-image : none;
}

.btn-amarillo.disabled,
.btn-amarillo[disabled],
fieldset[disabled] .btn-amarillo,
.btn-amarillo.disabled:hover,
.btn-amarillo[disabled]:hover,
fieldset[disabled] .btn-amarillo:hover,
.btn-amarillo.disabled:focus,
.btn-amarillo[disabled]:focus,
fieldset[disabled] .btn-amarillo:focus,
.btn-amarillo.disabled:active,
.btn-amarillo[disabled]:active,
fieldset[disabled] .btn-amarillo:active,
.btn-amarillo.disabled.active,
.btn-amarillo[disabled].active,
fieldset[disabled] .btn-amarillo.active {
    background-color : #CCA978;
    border-color     : #FFA324;
}

.btn-amarillo .badge {
    color            : #CCA978;
    background-color : #ffffff;
}

.btn-rojo {
    color            : #ffffff;
    background-color : #C7898B;
    border-color     : #CE464A;
}

.btn-rojo:hover,
.btn-rojo:focus,
.btn-rojo:active,
.btn-rojo.active,
.open .dropdown-toggle.btn-rojo {
    color            : #ffffff;
    background-color : #CE464A;
    border-color     : #CE464A;
}

.btn-rojo:active,
.btn-rojo.active,
.open .dropdown-toggle.btn-rojo {
    background-image : none;
}

.btn-rojo.disabled,
.btn-rojo[disabled],
fieldset[disabled] .btn-rojo,
.btn-rojo.disabled:hover,
.btn-rojo[disabled]:hover,
fieldset[disabled] .btn-rojo:hover,
.btn-rojo.disabled:focus,
.btn-rojo[disabled]:focus,
fieldset[disabled] .btn-rojo:focus,
.btn-rojo.disabled:active,
.btn-rojo[disabled]:active,
fieldset[disabled] .btn-rojo:active,
.btn-rojo.disabled.active,
.btn-rojo[disabled].active,
fieldset[disabled] .btn-rojo.active {
    background-color : #C7898B;
    border-color     : #CE464A;
}

.btn-rojo .badge {
    color            : #C7898B;
    background-color : #ffffff;
}