.card {
    border-radius : 5px;
    padding       : 8px;
    display       : inline-table;
    background    : #5fcbde;
    min-width     : 250px;
    min-height    : 180px;
    margin        : 10px;
}

.titulo-card {
    width       : 100%;
    font-weight : bold;
    font-size   : 14px;
    line-height : 1;
    color       : #000000 !important;
}

.cardContent {
    border-radius : 5px;
    padding       : 8px;
    width         : 100%;
    border        : 1px solid #eee;
    margin-top    : 5px;
    line-height   : 1;
    background    : white;
    text-decoration: none;
}

.circle-card {
    border-radius : 50%;
    width         : 50px;
    height        : 50px;

    text-align    : center;
    line-height   : 50px;
    display       : inline-block;
    margin-right  : 5px;
    font-weight   : bold;
}

.card-bg-green {
    background : #5cb85c;
}

.table-report {
    border-radius : 5px;
    padding       : 0px;
    display       : inline-table;
    min-width     : 525px;
    min-height    : 200px;
    margin        : 10px;
}

.titulo-report {
    width                   : 100%;
    font-weight             : bold;
    font-size               : 14px;
    line-height             : 1;
    background              : #5fcbde;
    padding                 : 5px;
    border-top-left-radius  : 5px;
    border-top-right-radius : 5px;
    color                   : #000000 !important;
}

.report-content {
    width      : 100%;
    font-size  : 11px;
    margin     : 0px;
    margin-top : -1px;
}

.header-table-report {
    background   : #5fcbde !important;
    border-color : #5fcbde !important;
    color        : #000000 !important;
}

.header-panel{
    width: 80%;
    background              : #5fcbde;
    height: 100px;
    border-radius : 5px;
    margin-top: 15px;
    padding: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header-item{
    width: 33%;
    height: 100%;
    display: inline-table;
    padding: 5px;
}
.header-content {
    border-radius : 5px;
    padding       : 8px;
    width         : 100%;
    border        : 1px solid #eee;
    margin-top    : 5px;
    background    : white;
    text-decoration: none;
    text-align: left;

}