.text-shadow {
    text-shadow : 3px 5px 4px rgba(150, 150, 150, 0.95);
}

.text-white {
    color : #fff;
}

a.text-info:hover {
    color : #dedede;
}

.titulo-horizontal {
    padding-bottom : 10px;
    border-bottom  : 1px solid #000000;
    text-align     : center;
    width          : 105%;
}

.no-margin-top {
    margin-top : 0;
}